version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"                
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Sofia"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "chore"
      include: "scope"
    ignore:
      - dependency-name: "electron"
        update-types: ["version-update:semver-major"]

